@import "base/reset";
@import "base/config";

@import "viewport-grid/lib/viewport-grid.scss";
@import "typecabinet/dist/typecabinet.scss";
@import "rye/dist/rye.scss";

@import "base/text-mixins";
@import "base/text-helpers";


// Fonts
html {
  font-size: 16px;
  color: $off-black;
  background-color: $off-white;
}

// TOPNAV
.top-nav {
  // background-color: blue;
}
  .top-nav-logo {}
  .top-nav-logo-link {}
  .top-nav-sections {}
  .top-nav-link {}

// FOOTER
body {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.wrapper {
  flex: 1 0 auto;
}
.footer {
  flex: none;
}